@use "base/variables" as v;
@use "base/mixins" as m;

main {
  margin-right: 2rem;
  margin-left: 2rem;
  @include m.telefono {
    margin-right: 5rem;
    margin-left: 5rem;
  }
  @include m.desktopXL {
    margin-right: 10rem;
    margin-left: 10rem;
  }
}

.home-div {
  margin-top: 2.5rem;
  margin-bottom: 5rem;
}

.home-left {
  .imagen {
    @include m.tablet {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    @include m.desktop {
      width: 70%;
    }
  }
}

.home-div {
  .imagen {
    padding: 1rem 1rem 3rem 1rem;
    @include m.telefono {
      padding: 0 13rem 3rem 13rem;
    }
    @include m.desktop {
      padding: 1rem 25rem 5rem 25rem;
    }
    @include m.desktopXL {
      padding: 1rem 30% 5rem 30%;
    }
  }
}

.accordion-image {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
  .logo-exo {
    width: 10rem;
    @include m.desktopXL {
      width: 15rem;
    }
  }
  .logo-3D,
  .logo-humanoid {
    @include m.telefono {
      width: 22rem;
    }
    @include m.tablet {
      width: 25rem;
    }
    @include m.desktopXL {
      width: 35rem;
    }
  }
}

.accordion-title {
  margin-bottom: 3rem;
}

.accordion {
  @include m.desktopXL {
    width: 90rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.accordion-body {
  @include m.desktop {
    display: flex;
    .accordion-image {
      padding: 0 2rem 0 2rem;
    }
    .accordion-3D {
      order: -1;
    }
  }
}

.home-location {
  @include m.tablet {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 5rem;
  }
}

.location-image {
  display: none;
  @include m.tablet {
    display: block;
  }
}

#map {
  height: 100vw;
  @include m.telefono {
    height: 50vw;
  }
  @include m.tablet {
    height: auto;
  }
}

address {
  text-align: center;
  // font-weight: bold;
  margin-top: 2rem;
  a {
    font-size: 1.2rem;;
    @include m.telefono {
      font-size: 1.35rem;
    }
    @include m.tablet {
      font-size: 1.5rem;
    }
    @include m.desktop {
      font-size: 1.75rem;
    }
  }
}
