@use "base/variables" as v;
@use "base/mixins" as m;

.header {
  background-color: transparent;
}

.navbar-brand {
  display: inline-block;
  line-height: 1;
  max-width: 60%;
  outline: none;
  overflow: hidden;
  padding: 16px 0px;
  text-decoration: none;
  text-overflow: ellipsis;
  font-size: 13.5pt;
  font-family: "PT Sans", sans-serif;
  white-space: nowrap;
  font-weight: 700;
  @include m.desktopXL {
    font-size: 16pt;
  }
}

.float-right {
  display: none;
  @include m.desktop {
    display: flex;
  }
}

.navbar-nav li {
  @include m.desktop {
    padding-right: 0.4rem;
  }
  @include m.desktopXL {
    padding-right: 2rem
  }
}

@include m.desktop {
  .dropdown-menu li {
    position: relative;
    &:hover{
      background-color: v.$secundario;
    }
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 95%;
    top: -5px;
  }

  .menu {
    font-size: 10pt;
    font-family: "PT Sans", sans-serif;
  }
  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}

.dropdown-item {
  background-color: transparent;
  &:hover {
    background-color: #212529;
  }
  @include m.desktopXL {
    font-size: 1.4rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
  }
}

// .dropdown-toggle {
//   @include m.tablet {
//     padding-left: 0rem;
//   }
// }

.nav-sb {
  a:visited {
    background-color: #212529;
  }
}

.dropdown-menu .dropdown-menu {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  margin-bottom: 0.5rem;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
}

.navbar-collapse {
  flex-grow: 0.5;
}

.dropdown-menu[data-bs-popper] {
  top: 4.7rem;
  @include m.desktopXL {
    top: 5rem;
  }
}

.navbar-toggler {
  display: block;
  @include m.desktop {
    display: none;
  }
}

.sidebar {
  display: block;
  @include m.desktop {
    display: none;
  }
}

.sidebar-text {
  display: block;
  font-size: 1rem;
  max-width: 90%;
  @include m.telefono {
    font-size: 1.25rem;
  }
  @include m.tablet {
    font-size: 1.5rem;
  }
  @include m.desktop {
    display: none;
  }
}

.navbar-text {
  display: none;
  @include m.desktop {
    display: block;
  }
}

.offcanvas {
  overflow-y: auto;
}

.offcanvas-start {
  width: fit-content;
}

.offcanvas-header,
.offcanvas-body {
  padding: 0 2.5rem 0 2rem;
  font-size: 1.25rem;
  overflow-y: unset;
  @include m.telefono {
    font-size: 1.5rem;
  }
}

.offcanvas-header {
  padding-top: 2rem;
  .btn-close {
    margin-right: 2rem;
  }
}

.offcanvas-title {
  font-size: 1.5rem;
  @include m.telefono {
    font-size: 1.75rem;
  }
}

.sidebar-menu {
  padding-bottom: 0.5rem;
  &:first-of-type {
    padding-top: 2rem;
  }
}

.sidebar-last {
  padding-bottom: 2rem;
}

.sidebar-drop {
  margin-top: 2rem;
}

.btn-close {
  padding-right: 1rem;
}

.menu-sb {
  border: 0;
  font-size: 1.25rem;
  li {
    padding-top: 1rem;
  }
}

.dropdown-item:focus,
.dropdown-item:hover,
.nav-link:focus,
.nav-link:hover {
  color: v.$dark;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: unset;
}

.nav-sb a,
.navbar-dark .navbar-nav .nav-link {
  color: v.$blanco;
  transition: color 0.5s;
  &:hover {
    color: v.$dark;
  }
  @include m.desktopXL {
    font-size: 1.75rem;
  }
}

.dropdown-item-opt {
  display: contents;
}

.left-pad {
  padding-left: 1rem;
}

.nav-item-close-news{
  position: relative;
  a {
    position: absolute;
    left: -3.7rem;
    @include m.desktopXL {
      left: -2.8rem;
    }
  }
}

.blank-space-news {
  width: 3.7rem;
  @include m.desktopXL {
    left: -2.8rem;
  }
}

.nav-item-close-research{
  position: relative;
  a {
    position: absolute;
    left: -6rem;
    @include m.desktopXL {
      left: -5.5rem;
    }
  }
}

.blank-space-research {
  width: 6rem;
  @include m.desktopXL {
    width: 5.5rem;
  }
}

.dropdown-menu-news {
  @include m.desktop {
    left: -5rem !important;
  }
}

.dropdown-menu-research {
  @include m.desktop {
    left: -7rem !important;
  }
}

.dropdown-submenu-research {
  @include m.desktop {
    left: 13.9rem !important;
  }
  @include m.desktopXL {
    left: 17.1rem !important;
  }
}